html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #4f378a;
  color: white;
  gap: 3%;
  padding: 10px;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 70%;
}

#textnav {
  color: #FFFF;
  text-decoration: none;
}

#select {
    color: #cfb5f8;
    text-decoration: none;
}

.flex {
  display: flex;
}

header {
  background-color: #eaddff;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  color: #4f378a; 

 
 

}