html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
<<<<<<< HEAD
  background-color: #4f378a;
  color: rgb(255, 103, 103);
  gap: 3%;
  padding: 10px;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 70%;
}

#textnav {
  color: #ffffff;
  text-decoration: none;
=======
    background-color: #4f378a;
    color: white;
    gap: 3%;
    padding: 10px;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 70%;
}

#textnav {
    color: #FFFF;
    text-decoration: none;
>>>>>>> 0eb7a730ecf48454608ed330648e91008dab1aa1
}

#select {
    color: #faf6ff;
    text-decoration: none;
}

.flex {
    display: flex;
}

header {
    background-color: #eaddff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #4f378a;




}

header i:hover {
    cursor: pointer;
}

header input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}