* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #4f378a;
  color: white;
  justify-content: space-between;
  padding: 10px;
  white-space: nowrap;
  font-size: 70%;

}

#inicio {
  color: #cfb5f8;
  text-decoration: none;
}

.flex {
  display: flex;
}

.macaco {
  gap: 10%;
  padding-right: 10px;
}

.macaco a {
  text-decoration: none;
  color: white;
}

header {
  background-color: #eaddff;
}

.passagem {
  padding: 20px;
  border-radius: 10px;
  width: 95%;
}

.passagem p {
  padding-bottom: 2%;
  color: #4f378a;
}

.passagem label {
  color: #4f378a;
  font-size: 95%;
}

.passagem input {
  width: 90%;
  border-style: none;
  color: grey;
}

.passagem select {
  border-style: none;
  color: grey;
}

.everton {
  display: flex;
  justify-content: center;
}

.l,
.r {
  flex-direction: column;
  display: flex;
  background-color: white;
  margin-bottom: 2%;
  padding: 2%;
  width: 50%;
}

.l {
  border-radius: 999px 0px 0px 999px;
}

.r {
  margin-left: 1%;
  border-radius: 0px 999px 999px 0px;
}

.butao {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.butao button {
  background-color: #4f378a;
  color: white;
  border-radius: 999px;
  padding: 0.5% 2%;
}

main {
  background-color: #4f378a;
}

main p {
  padding: 3% 0% 3% 3%;
  color: #eaddff;
}

.promocao {
  text-align: center;
}

.promocao img {
  width: 70%;
  margin: 2% 0% 0.5% 0%;
  border-radius: 10px; 
}