* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

header h1 {
    font-weight: lighter;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.avatar img {
    width: 200px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 300px;
    padding: 20px;
    border-radius: 45px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.entrar {
    margin-top: 5%;
    margin-bottom: 2%;
}

.entrar button,
.noaccount button {
    border-radius: 45px;
    padding: 20px 80px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.entrar button {
    background-color: rgba(42, 0, 82, 0.747);
    color: white;
}

.noaccount button {
    background-color: rgba(233, 209, 255, 0.747);
    color: rgba(42, 0, 82, 0.747);
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    display: block;
}
