* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}


.frame {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    gap: 8px;
}

.flex a {
    color: #833565;
}


header h1 {
    font-weight: lighter;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 45px;
    border: 1px solid #ccc;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 45px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: rgba(233, 209, 255, 0.747);
    color: rgba(42, 0, 82, 0.747);
}

button[type="submit"]:hover {
    background-color: rgba(233, 209, 255, 0.9);
<<<<<<< HEAD
=======
}

.flex a, img {
    width: 86%;
    text-align: center;
}

.socials {
    justify-content: center;
    margin-top: 5%;
    gap: 10%;

>>>>>>> 8bfa5809ac903a14943be506190d970ad6b06cdf
}