html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
}

main {
  background-color: #eaddff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #4B0082;
    color: white;
    gap: 3%;
    padding: 10px;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 70%;
}

#textnav {
    color: #FFFF;
    text-decoration: none;
}

#select {
    color: #faf6ff;
    text-decoration: none;
}

.flex {
    display: flex;
}

h2 {
  color: #4f378a;
  border-radius: 0px;
  font-size: 1.2em;
  margin: 3% 0 1% 2%;
}

form {
  background-color: #4B0082;
  padding: 3%;
  border-radius: 0px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #E6E6FA;
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

form.rotas {
  background-color: #4B0082;
  padding: 20px;
}