* {
    font-family: sans-serif;
}

html {
    overflow: hidden;
}

header h1 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 32px;
    text-align: center;
    position: relative;
}

.entrar {
    display: flex;
    justify-content: center;
}

.entrar button {
    border-radius: 45px;
    position: absolute;
    bottom: 30%;
    color: white;
    background-color: rgba(42, 0, 82, 0.747);
    padding: 20px 120px;
}

.noaccount {
    display: flex;
    justify-content: center;
}

.noaccount button {
    border-radius: 45px;
    position: absolute;
    bottom: 20%;
    color: rgba(42, 0, 82, 0.747);
    background-color: rgba(233, 209, 255, 0.747);
    padding: 20px 85px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar img {
    width: 200px;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 30%;
}

footer {
    display: block;
    margin-bottom: 0px;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

.register fieldset {
    display: block;
    height: 45cqmax;
}

.register input {}


.imagemopc img {
    width: 20%;

}

.container button {
    width: 100%;

}